* {
  margin: auto;
  padding: 0;
  /* font-family: "Cinzel", serif; */
  text-align: center;
  font-family: "Edwardian Script";
}

/* 'Source Sans Pro', sans-serif, "Roboto", "system-ui", "San Francisco", "Segoe UI", "Oxygen", "Ubuntu", Arial,  */


/* Navbar top*/
.navbar-top {
  background-color: #bae0ff;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: -5px;
  padding-bottom: 3px;
  transition: 0.1s;
}

#top-a {
  color:blue;
  text-decoration: none;
}

#top-a:hover {
  color: yellow;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

/* Main Nav */
.main-nav-container {
  background-color: black;
  height: 4.5vh;
}

.nav-li:hover,
button:hover,
div.main-nav-container:hover {
  background-color: blue;
  color: yellow;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.nav-li {
  display: inline-block;
  margin: 0px 8px;
  padding-top: 4px;
  text-decoration: none;
  font-size: 1em;
  transition: 0.1s;
  color: white;
}

.spring {
  font-size: 12px;
  font-family:'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
}

/* Login */
.login {
  margin-top: 50px;
  font-weight: 600;
  font-size: larger;
  /* font-style: oblique; */
  /* font-style: italic; */
}

.login-span {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

/* SignUp */
.signup-form {
  margin-top: 4%;
}

label,
.member {
  font-weight: bold;
  font-weight: 500;
  font-style: oblique;
}

/* Main Page onload */
.spring-sale {
  /* background: pink; */
  background-image: url("https://images.unsplash.com/photo-1526047932273-341f2a7631f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80");
  /* background-image: url("https://www.sephora.com/productimages/product/p437631-av-05-zoom.jpg?imwidth=1500"); */
  /* background-image: url("https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Zmxvd2Vyc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60"); */
  background-position: center;
  /* position: relative; */
  text-align: center;
  padding-top: 40px;
  margin-top: 7%;
  height: 50vmin;
  width: 45%;
  border-radius: 10px;
  text-decoration: none;
  float: left;
  /* filter: blur(.3px);
  -webkit-filter: blur(.3px); */
}

.spring-sale h1, h2 {
  color: black;
  text-decoration: none;
  text-shadow: 1px 1px 1px white;
  font-style: oblique;
}

.set-sale h1, h2 {
  color: black;
  text-decoration: none;
  text-shadow: 1px 1px 0px white;
  font-style: oblique;
}

.set-sale {
  background-image: url("https://images.unsplash.com/photo-1526047932273-341f2a7631f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80");
  height: 50vmin;
  width: 45%;
  float:right;
  border-radius: 10px;
  padding-top: 40px;
  margin-top: 7%;
}

/* Logo quote style */
.logo {
  text-indent: 37%;
  letter-spacing: 1px;
  margin-top: 4.5%;
  font-size: 20px;
  /* letter-spacing: 1.3px; */
  /* font-size: 25px; */
  /* font-family: 'Ms Madi'; */
  font-weight: 500;
  font-style: oblique;
}

/* Items Container */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 5px;
  text-decoration: none;
  place-items: center;
}

 .card {
  margin: 1rem;
  width: 250px;
  /* width: 175px; */
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;         
  flex-direction: row;
  /* position: relative; */
  flex-wrap: wrap;
  text-decoration: none;
}

.card-image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

/* Search */
.search-bar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

/* Card Details Styling */
.item-details {
  padding-top: 15px;
  box-sizing: border-box;
}

.item-details img {
  float: left;
  /* column-count: 2; */
  /* padding-left: 75px; */
  padding-top: 10px;
}

.left{
  width: 25%;
}

.right{
  width: 45%;
  padding-left:400px;
}

.column {
  float: left;
  padding: 10px;
}

/* Comment Form Style */
.form-container {
  display: flex;
  justify-content: center;
}

input, textarea {
  margin-top: 12px;
  font-family: inherit;
  font-size: 1em;
  transition: all 0.2s;
  width: 30%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid;
}

button {
  color:white;
  margin-top: 30px;
  border-radius: 15px;
  width: 20vh;
  height: 30px;
  border: none;
  background-color: black;
  cursor: grab;
}

/* Order Style */
.cards-order {
    margin: 1rem;
    box-shadow: 0 10px 10px rgba(154, 151, 151, 0.2);
    border-radius: 3px;
    border: 1px #ccc;
    width: 300px;
  } 
  
.order-image {
    height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
  }


/* Checkout */
.checkout-container {
  float:left;
  width: 40%;
}

.input-text-checkout {
  height: 4vmin;
}

div.return-policy {
  margin-top: 12%;
}

.return-policy-text {
  font-size: small;
  font-weight: 200;
  font-style: italic;
  text-align: justify;
}










/* animation */

/* @keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
} */

/* @keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
} */

/* Note: When an animation is finished, it goes back to its original style. */
/* @keyframes example {
  from {background-color: blue;}
  to {background-color: yellow;}
} */

/* The element to apply the animation to */
/* div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
} */







/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
